@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    font-size: 62.5%;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

.controls-mode{
    position: fixed;
    top: 10rem;
    right: 10rem;
}

.controls-mode button{
    background: none;
    border: none;
}

.controls-mode button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.page{
    display: grid;
    place-items: center;
    height: 100vh;
}

.container{
    display: flex;
    justify-content: space-between;
    gap: 19.2rem;
    padding: 0 2rem;
}

.timer{
    text-align: center;
    margin-top: 5.8rem;
}

.timer span{
    font-size: 12.6rem;
}

.controls-timer{
    margin-top: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.controls-timer button{
    border: none;
    background-color: #FFFFFF;
}

.controls-timer button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s;
}

.controls-sound button svg{
    fill: #323238;
}

.hide{
    display: none;
}

.controls-sound{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3.2rem
}

.controls-sound div:focus-within{
    background-color: #8d08f3;
}

.controls-sound div{
    padding: 2rem;
    border-radius: 24px;
    border: none;
    background: #E1E1E6;
    display: flex;
    flex-direction: column;
}

.controls-sound div button{
    background: none;
    border: none;
}

.controls-sound button:hover{
    cursor: pointer;
}

@media (max-width: 898px) {
    .container{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}
